
<h2>MetadataCreators</h2>
<ul class="parameter">
  <li class="param-required-true">personUnderscoreorUnderscoreorg : Metadata_person_or_org
    <br/>
  </li>
</ul>
<ul class="parameter">
  <li class="param-required-false">affiliations : List
    <br/>Affilations if type is a personal name.
  </li>
</ul>
<ul class="parameter">
  <li class="param-required-false">role : String
    <br/>The role of the person or organisation selected from a customizable controlled vocabulary.
  </li>
</ul>
