
<h2>Metadata</h2>
<ul class="parameter">
  <li class="param-required-false">resourceUnderscoretype : Metadata_resource_type
    <br/>
  </li>
</ul>
<ul class="parameter">
  <li class="param-required-false">creators : List
    <br/>The creators field registers those persons or organisations that should be credited for the resource described in by the record. The list of person or organisations in the creators field is used for e.g. generating citations, while persons or organisations listed in the contributors field are not included the generated citations.  The field is compatible with 2. Creator in DataCite. In addition we are adding the possiblity of associating a role (like for contributors). This is specifically for cases where e.g. an editor needs to be credited for the work, while authors of individual articles will be listed under contributors.
  </li>
</ul>
<ul class="parameter">
  <li class="param-required-false">title : String
    <br/>A primary name or primary title by which a resource is known. May be the title of a dataset or the name of a piece of software. The primary title is used for display purposes throughout InvenioRDM.  The fields is compatible with 3. Title in DataCite. Compared to DataCite the field does not support specifying the language of the title.
  </li>
</ul>
<ul class="parameter">
  <li class="param-required-false">publicationUnderscoredate : String
    <br/>The date when the resource was or will be made publicly available.  The field is compatible 5. PublicationYear in DataCite. In case of time intervals, the earliest date is used for DataCite.  Format: The string must be be formatted according to Extended Date Time Format (EDTF) Level. Only a \&quot;Date\&quot; or a \&quot;Date Interval\&quot; is supported. A \&quot;Date and Time\&quot; is not supported. Following are examples of valid values:  Date:   * 2020-11-10 - a complete ISO8601 date.   * 2020-11 - a date with month precision   * 2020 - a date with year precision   Date Interval:   * 1939/1945 a date interval with year precision, beginning     sometime in 1939 and ending sometime in 1945.   * 1939-09-01/1945-09 a date interval with day and month     precision, beginning September 1st, 1939 and ending     sometime in September 1945.   The localization (L10N) of EDTF dates is based on the skeletons defined by the Unicode Common Locale Data Repository (CLDR).
  </li>
</ul>
<ul class="parameter">
  <li class="param-required-false">description : String
    <br/>The description of a record. The fields is compatible with 17. Description in DataCite. Compared to DataCite the field does not support specifying the language of the description. The description may use a whitelist of HTML tags and attributes to style the text.
  </li>
</ul>
