
<h2>MetadataPersonOrOrg</h2>
<ul class="parameter">
  <li class="param-required-false">name : String
    <br/>Cardinality is 0 if &#x60;&#x60;type&#x60;&#x60; is &#x60;&#x60;personal&#x60;&#x60; / 1 if &#x60;&#x60;type&#x60;&#x60; is &#x60;&#x60;organisational&#x60;&#x60;) The full name of the organisation. For a person this field is generated from given_name and family_name.
  </li>
</ul>
<ul class="parameter">
  <li class="param-required-false">type : String
    <br/>The type of name. Either personal or organisational.
      <dl class="param-enum">
        <dt>Enum:
            <dd>personal</dd>
            <dd>organisational</dd>
        </dt>
      </dl>
  </li>
</ul>
<ul class="parameter">
  <li class="param-required-false">givenUnderscorename : String
    <br/>Cardinality is 1 if type is personal / 0 if type is organisational.  Given name(s) if the type is a personal name.
  </li>
</ul>
<ul class="parameter">
  <li class="param-required-false">familyUnderscorename : String
    <br/>Cardinality is 1 if type is personal / 0 if type is organisational. Family name if type is a personal name.
  </li>
</ul>
<ul class="parameter">
  <li class="param-required-false">identifiers : List
    <br/>Person or organisation identifiers.
  </li>
</ul>
