
<h2>RecordNewFiles</h2>
<ul class="parameter">
  <li class="param-required-true">enabled : Boolean
    <br/>Required. Should (and can) files be attached to this record or not.
  </li>
</ul>
<ul class="parameter">
  <li class="param-required-false">defaultUnderscorepreview : String
    <br/>Filename of file to be previewed by default.
  </li>
</ul>
<ul class="parameter">
  <li class="param-required-false">order : List
    <br/>Array of filename strings in display order.
  </li>
</ul>
