
<h2>RecordRead</h2>
<ul class="parameter">
  <li class="param-required-false">id : String
    <br/>The internal persistent identifier for a specific version.
  </li>
</ul>
<ul class="parameter">
  <li class="param-required-false">parent : RecordRead_parent
    <br/>
  </li>
</ul>
<ul class="parameter">
  <li class="param-required-false">revisionUnderscoreid : Integer
    <br/>
  </li>
</ul>
<ul class="parameter">
  <li class="param-required-false">versions : RecordRead_versions
    <br/>
  </li>
</ul>
<ul class="parameter">
  <li class="param-required-false">isUnderscorepublished : Boolean
    <br/>
  </li>
</ul>
<ul class="parameter">
  <li class="param-required-false">pids : String
    <br/>System-managed external persistent identifiers (DOIs, Handles, OAI-PMH identifiers).
  </li>
</ul>
<ul class="parameter">
  <li class="param-required-false">metadata : Metadata
    <br/>
  </li>
</ul>
<ul class="parameter">
  <li class="param-required-false">ext : Object
    <br/>Instance specific descriptive metadata for the resource.
  </li>
</ul>
<ul class="parameter">
  <li class="param-required-false">provenance : Object
    <br/>System-managed provenance information.
  </li>
</ul>
<ul class="parameter">
  <li class="param-required-false">access : AccessInformation
    <br/>
  </li>
</ul>
<ul class="parameter">
  <li class="param-required-false">files : Files
    <br/>
  </li>
</ul>
<ul class="parameter">
  <li class="param-required-false">tombstone : Object
    <br/>Tombstone information.
  </li>
</ul>
<ul class="parameter">
  <li class="param-required-false">created : Date
    <br/>
  </li>
</ul>
<ul class="parameter">
  <li class="param-required-false">updated : Date
    <br/>
  </li>
</ul>
<ul class="parameter">
  <li class="param-required-false">links : RecordRead_links
    <br/>
  </li>
</ul>
