<div class="main-content">
  <h2><a name=""></a></h2>
  <p>This is the  API</p>

  <h2><a name="recordsIdFilesFilenameContentGet"></a>recordsIdFilesFilenameContentGet</h2>
  <hr>
  <p></p>
  
  <h3 class="section">URL</h3>
  <code>http://localhost/api/records/{id}/files/{filename}/content</code>
  <h3 class="section">HTTP Method</h3>
  <code>GET</code>
  <h3 class="section">Response Type</h3>
  <div class="model" data-model="file"><a href="">File</a></div>
  <h3 class="section">Parameters</h3>
  <ul>
	  <li class="parameter">
      
      
      <span class="param-in">Path: </span>
      
      
      <span class="param-name">id</span>
      <span class="param-type">String</span>
      
      <p class="param-description">Identifier of the record, e.g. &#x60;&#x60;cbc2k-q9x58&#x60;&#x60;</p>
	  </li>
	  <li class="parameter">
      
      
      <span class="param-in">Path: </span>
      
      
      <span class="param-name">filename</span>
      <span class="param-type">String</span>
      
      <p class="param-description">Name of a file</p>
	  </li>
	  <li class="parameter">
      
      <span class="param-in">Query: </span>
      
      
      
      <span class="param-name">prettyprint</span>
      <span class="param-type">String</span>
      
      <p class="param-description">specify &#x60;&#x60;1&#x60;&#x60; to receive pretty-printed response json, or don&#39;t specify this parameter at all in order to leave response as-is.</p>
	  </li>
  </ul>
  <h2><a name="recordsIdFilesGet"></a>recordsIdFilesGet</h2>
  <hr>
  <p></p>
  
  <h3 class="section">URL</h3>
  <code>http://localhost/api/records/{id}/files</code>
  <h3 class="section">HTTP Method</h3>
  <code>GET</code>
  <h3 class="section">Response Type</h3>
  <div class="model" data-model="Files"><a href="">Files</a></div>
  <h3 class="section">Parameters</h3>
  <ul>
	  <li class="parameter">
      
      
      <span class="param-in">Path: </span>
      
      
      <span class="param-name">id</span>
      <span class="param-type">String</span>
      
      <p class="param-description"></p>
	  </li>
	  <li class="parameter">
      
      <span class="param-in">Query: </span>
      
      
      
      <span class="param-name">prettyprint</span>
      <span class="param-type">String</span>
      
      <p class="param-description">specify &#x60;&#x60;1&#x60;&#x60; to receive pretty-printed response json, or don&#39;t specify this parameter at all in order to leave response as-is.</p>
	  </li>
  </ul>
</div>
